body{
    margin: 0;
}
.text{
    min-height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    font-size: 72px;
    padding: 20px 0 0 50px;
    color: white;
    position: relative;
}
.text span{
    position: absolute;
    bottom: -15px;
}