body{
    margin-left: 50px;
    font-family: sans-serif;
    background-color: gray;
}

.cyrilic ol{
    list-style-type: none;
}
.cyrilic li:nth-child(1)::before { content: 'а)'; }
.cyrilic li:nth-child(2)::before { content: 'б)'; }

.none1 {
    counter-reset: li;
}
.none1 ol ol  {
    list-style: none;
}
.none1 li li li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

.none2 ol {
    list-style: none;
    counter-reset: i;
}
 .none2 li:before{
    counter-increment: i;
    content: counters(i,".") ". ";
} 
